html {
    /* overflow-y: hidden; */
}

body {
    font-family: "Poppins", sans-serif, "Arial";
    color: #053b7a !important;
}

.page-enter-active, .page-leave-active {
    transition: opacity .25s, transform .25s;
}

.page-enter, .page-leave-to {
    opacity: 0;
    transform: translateX(-30%);
}

input {
    font-size: 16px !important;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.fa-sort-up {
    color: #febd11 !important;
    margin-right: 5px !important;
}

.hide-header thead {
    display: none;
}

.swal-footer {
    text-align: center !important;
}

.swal-text {
    text-align: center !important;
}

.profile-role:after {
    content: '\A';
    white-space: pre;
}
.no-scroll-tab {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 65vh;
    margin-bottom: 5px;
}

.span-comments {
    text-align: left;
    margin-top: 15px;
}

.staffing-input {
    display: inline !important;
    max-width: 80px !important;
    margin-right: 5px !important;
}

.staffing-div-input {
    text-align: left !important;
    margin-top: 10px !important;
}

/* thead th:not(.theme--light.v-date-picker-table .v-date-picker-table--date__week, .theme--light.v-date-picker-table) {
    color: whitesmoke !important;
    background-color: #073981 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    text-align: left !important;
} */

/* Used to control the v-table header text */
/* table.v-table thead th {
    color: whitesmoke !important;
    background-color: #073981 !important;
    font-size: 12px !important;
    font-weight: bold !important;
} */

.toggle-button {
    color: black;
    font-family: 'arial';
    font-size: 12px;
    text-transform: none;
    font-weight: 800;
}

.v-menu__content.theme--light.menuable__content__active:not(.v-autocomplete__content) {
    margin-top: 40px !important;
} 

.form-control-placeholder {
    font-weight: 500;
    font-size: 14px !important;
    color: #053b7a !important;
    position: absolute;
    margin-top: 0;
    padding: 0 0 0 3px;
    transition: all 200ms;
    font-size: 75%;
 }

 .theme--light.v-expansion-panels .v-expansion-panel-header .v-expansion-panel-header__icon .v-icon {
    color: white !important;
}

.theme-blue {
    background-color: #073981 !important;
}

.v-input--radio-group__input.v-label {
    color: black !important;
}

li.v-expansion-panel__container--active div.v-expansion-panel__header {
    border-bottom: 2px solid rgb(254, 189, 17) !important;
}

.section-header-title {
    font-size: 20px;
    font-weight: bold;
    color: white !important;
}

.section-header-score {
    font-size: 16px;
    font-weight: normal;
    color: white !important;
}

.sub-group-header {
    height: 35px;
    text-align: center; 
    background-color: rgb(5, 59, 122) !important; 
    color: white !important;
}
.overview-section-header {
    height: 60px;
    text-align: center; 
    background-color: rgb(5, 59, 122) !important; 
    color: white !important;
}

.button-active {
    color: orange !important;
}
/* .v-menu__content.theme--light.menuable__content__active:not(.v-autocomplete__content) {
    margin-top: 40px !important;
} */

.v-btn__content {
    text-align: center;
    margin-left: 0 !important;
}

.button-menu.v-btn {
    background-color: white !important;
    border-color: #ddd #ddd #fff !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #EEEEEE !important;
    border-style: solid !important;
    height: 51px;
    border-width: 1px;
    margin-left: -2px;
    box-shadow: none !important;
    margin-right: 0 !important;
    font-size: 12px;
}

.col-bp-0 {
    padding-bottom: 0;
}

.component-container {
    min-width: 100%;
}

.v-btn--active {
    background-color: darkgray !important;
}

.button-menu.v-btn:hover {
    background-color: transparent !important;
    text-decoration: none !important;
    color: orange !important;
    border-color: #ddd #ddd #fff !important;
    border-style: solid !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.button-menu.v-btn.active {
    background-color: #f5f5f5 !important;
    text-decoration: none !important;
    color: orange !important;
    border-color: #ddd #ddd #fff !important;
    border-style: solid !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.v-tabs__item.v-tabs__item--active {
    background-color: white !important;
    border-color: #ddd #ddd #fff !important;
    color: orange !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #EEEEEE !important;
    border-style: solid !important;
    font-weight: 400;
}

.v-tabs__div {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #F8F8F8 !important;
}
.v-tabs__item:hover {
    text-decoration: none !important;
    color: orange !important;
    border-color: #ddd #ddd #fff !important;
    border-style: solid !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    font-weight: 400;
}

.v-card {
    box-shadow: none !important;
    background-color: #eef5f9 !important;
}

.v-toolbar__content {
    margin-right: -22px;
    margin-left: -22px;
    float: left !important;
    width: 100% im !important;
}

.v-toolbar__content {
    margin-top: 0;
    width: 100% !important;
    height: 50px !important;
}

.v-expansion-panel.theme--light {
    margin-bottom: 1px !important;
}

.fa-dollar-sign {
    background-color: lightgray;
    padding: 5px;
    margin-left: 17px;
    border-radius: 4px;
}

.dollar:before {
    content: "$";
    padding: 0 5px;
    text-align: center;
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 25px;
    padding-right: 0;
}

.input-icon-right > i {
    right: 0;
}

.input-icon-right > input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
}

.multiselect {
    border: 1px solid rgba(0,0,0,.87) !important;
    border-width: 1px !important;
    font-size: 16px !important;
    border-radius: 4px;
}
.multiselect__option--highlight {
    background-color: #009efb !important;
}

.multiselect__tag {
    background-color: #009efb !important;
}

.multiselect__content-wrapper {
    z-index: 1000 !important;
}
.multiselect__content {
    z-index: 1000 !important;
}

.vue-js-switch {
    z-index: 0 !important;
}

.v-menu__content {
    z-index: 500 !important;
}

.pco-grid-line-height.v-data-table>.v-data-table__wrapper>table {
    line-height: 12px;
}

/*************************
/* Home Table styles */
/*************************/
.table-home{
    background-color: #e1f2fc !important;
}
.table-home.v-data-table>.v-data-table__wrapper > table > thead > tr > th.table-header-default {
    padding: 0 2px !important;
}
.table-home.v-data-table>.v-data-table__wrapper > table > tbody > tr > td {
    padding: 1px 2px !important;
}

/*************************
/* Summary Table styles */
/*************************/
.table-summary{
    background-color: #e1f2fc !important;
}
/* .table-summary.v-data-table>.v-data-table__wrapper > table > thead > tr > th.table-header-default {
    padding: 0, 16px !important;
} */


/******************************************
/* Approve Region/Division Table styles */
/*****************************************/
.table-approve-region-division.v-data-table>.v-data-table__wrapper > table > thead > tr > th.table-header-default {
    padding: 0, 16px !important;
}

.sort-icon{
    cursor: pointer;
}
.col-header-style{
    cursor: pointer;
}

.pco-grid-pcostatus {
    font-size: 1.4em; font-weight: 500;
}

.text-area-grid {
    width: 250px !important; 
    height: 50px; 
    font-size: 11px; 
    padding-top: 0; 
    line-height: 1.5em !important; 
    border: 1px solid rgba(0,0,0,.35) !important; 
    border-width: 1px !important;
    border-radius: 4px !important;
}

.v-text-field--outlined fieldset {
    border: 1px solid rgba(0,0,0,.54) !important;
    border-width: 1px !important;
    border-radius: 4px !important;
    padding: 8px !important;
    min-height: 38px;
    font-size: 16px !important;
    padding: 6px 12px;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.v-text-field--outlined fieldset[disabled="disabled"]  {
    border: none !important;
    border-width: 1px !important;
    border-radius: 4px !important;
    padding: 8px !important;
    min-height: 38px;
    font-size: 16px !important;
    padding: 6px 12px;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.list {
    list-style-type: none;
    padding: 8px 0;
    transition: height .3s cubic-bezier(.4,0,.2,1);
    border: 1px solid red !important; 
    background-color: yellow !important;
    z-index: 2000;
    float: left;
    display: block;
    overflow-y: auto;
    overflow-x: auto;
}

.margin-right-20 {
    margin-right: 20px !important;
    margin-bottom: 5px !important;
}
.money-label {
    float: right; 
    margin-right: 20px;
    margin-top: 7px;
}

.text-input-ace {
    max-width: 250px;
    margin-bottom: 10px;
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 18px;
    padding-right: 0;
}

.label-hover:hover {
    cursor: pointer;
}

label[disabled="disabled"] {
    color: #b3b3b3;
}

.max-width-125 {
    max-width: 125px;
}
.min-width-500 {
    min-width: 500px;
}
.overflow-y-auto {
    overflow-y: auto;
}
.label-months {
    margin-top: -28px;
    margin-left: 130px;
}

.v-card-register {
    padding-bottom: 20px !important;
    overflow-y: auto;
}
.v-container-register {
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.v-button-create-register {
    margin-right: 15px !important;
}
.v-button-cancel-register {
    margin-left: 15px !important;
}
.width-240 {
    width: 240px !important;
}
.width-245 {
    width: 245px !important;
}
.width-auto {
    max-width: auto !important;
}
.modalHeader {
    height: 0;
}

.modal-close-button {
    color: #c6c6c6 !important;
    margin-top: 8px !important;
    margin-right: 8px !important;
}

.modal-close-button:hover {
    color: #febd11 !important;
}

.headline {
    font-family: "Poppins", sans-serif, "Arial";
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    margin-top: -5px;
    color: white !important;
    font-weight: 500;
}

.headline-file {
    font-size: 14px!important;
    font-weight: 500;
    line-height: 32px!important;
    letter-spacing: normal!important;
    font-family: Roboto,sans-serif!important;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    color: black !important;
}

.v-card__title {
    background-color: #053b7a !important;
    color: white;
}
.error-indicator {
    color: red;
    font-weight: bold;
}
.error-text {
    color: red;
    font-size: 18px;
    font-weight: bold;
}
.error-div-register {
    margin-top: 30px;
    text-align: center;
}

table.v-table tbody td:first-child, table.v-table tbody td:not(:first-child), table.v-table tbody th:first-child, table.v-table tbody th:not(:first-child), table.v-table thead td:first-child, table.v-table thead td:not(:first-child), table.v-table thead th:first-child, table.v-table thead th:not(:first-child) {
    padding: 0 10px !important;
}

/* table.v-table tbody td, table.v-table tbody th {
    height: 10px;
} */

.v-messages {
    display: none !important;
}

label.v-label {
    font-size: 14px !important;
}

.v-input--selection-controls {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
    margin-bottom: 5px !important;
}

.margin-right-30 {
    float: right;
    margin-right: 30px !important;
}
.margin-left-30 {
    float: left;
    margin-left: 30px !important;
}

.rating-label-top {
    font-weight: bold !important;
    margin-top: 7px;
    margin-right: 10px;
}

.rating-label-top-right {
    font-weight: bold !important;
}
.rating-label-top-left {
    font-weight: bold !important;
}
.rating-label-bottom {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.rating-layout {
    margin-top: -10px;
    margin-bottom: 25px;
}

.container {
    padding: 7px !important;
    max-width: 100% !important;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height:30px;
}

.footer {
    width: 100%;
    max-height: 32px;
    margin-top: 25px;
}
.footer-inner {
    max-height: 32px;
}
.footer-help-link {
    color: white !important;
}
    .footer-help-link:hover {
        color: #CCCCCC !important;
    }

.footer-content {
    margin-top: 5px;
}
.v-list--disabled {
    background: lightgray;
    color: rgba(0,0,0,.50);
}

.layout.justify-center.row.wrap {
    margin-left: 0;
    margin-right: 0;
}

.incomplete-title {
    font-weight: bold; 
    font-size: 18px; 
    color: red;
}

.incomplete-group{
    font-weight: 500; 
    font-size: 16px;
}

.row {
    margin-right: 25px;
    margin-left: 25px;
}

.dialog-spinner {
    box-shadow: none !important;
    overflow: hidden !important;
}

.v-dialog:not(.v-dialog--fullscreen) {
    max-height: 90% !important;
}

.v-dialog {
    box-shadow: none !important;
    overflow: hidden !important;
}

.v-text-field-datepicker {
    width: 225px !important;
}

.v-text-field--outline input {
    margin-top: 10px;
}

.v-text-field--box .v-input__slot,
.v-text-field--outline .v-input__slot {
    display: flex !important;
    align-items: center !important;
}

div.v-select--is-multi > div.v-select__selections {
    padding-top: 10px !important;
}

.v-select.v-text-field--enclosed:not(.v-text-field--single-line) .v-select__selections {
    margin-top: -8px;
}

v-input v-text-field v-text-field--enclosed v-text-field--outline {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.v-select__selections {
    margin-top: 0 !important;
}

.v-list-item{
    font-size: 16px;
}

.v-list-item__title {
    margin-left: 0;
    min-width: 200px;
    font-size: 16px !important;
    color: #555;
    cursor: pointer !important;
}

.v-list-item--disabled .v-list-item__title {
    color: #AAAAAA !important;
}
.v-list-item--disabled .v-list-item__action .v-simple-checkbox  .v-icon:not(.primary--text) {
    background-color: lightgray;
}

.form-control.input-text {
    border: 1px solid rgba(0,0,0,.54) !important;
    border-radius: 4px !important;
    width: 100% !important;
    padding: 8px !important;
    font-size: 13px;
}

.v-tabs__container {
    background-color: #eef5f9 !important;
    background-color: #F7F7F7 !important;
}
.v-tabs__div {
    text-transform: none !important;
    font-size: 16px !important;
}
.v-card__text {
    background-color: #eef5f9 !important;
    padding: 5px;
}
.v-card-register.v-card {
    background-color: #eef5f9 !important;
}

.v-input__icon:not(.v-input__icon--append) {
    margin-top: 0;
    margin-right: -8px;
    margin-left: 0;
}

.v-input__icon--clear {
    margin-left: -65px;
    z-index: 1000;
}

.v-tooltip {
    margin-top: -12px !important;
}

.v-input__slot {
    min-width: 100% !important;
}

.v-icon {
    font-size: 22px !important;
}

th i.v-icon.material-icons {
    color: white !important;
}

.header-title {
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: bold;
    min-width: 400px;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    color: #053b7a;
}

.review-header-data-title {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    user-select: none;
    background-color: #073981;
    color: whitesmoke;
}

table.v-table thead th {
    background-color: #6aaaff;
    font-size: 14px !important;
    font-weight: bold !important;
}

.bgcolor {
    background-color: white;
}

.btn-review-history {
    width: 250px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.right {
    text-align: right;
}

.data-table {
    margin-bottom: 50px;
}

.filter-label {
    font-size: 16px;
    font-family: "Poppins", sans-serif, "Arial";
    color: #053b7a !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-weight: 500;
    float: left;
}

.calendar-event {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    background-color: rgb(0, 115, 183);
    color: #ffffff;
    border: 1px solid rgb(0, 115, 183);
    width: 100%;
    font-size: 12px;
    padding: 3px;
    cursor: pointer;
    margin-bottom: 1px;
}

.calendar-old-event {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    background-color: #053b7a;
    color: #ffffff;
    border: 1px solid #053b7a;
    width: 100%;
    font-size: 12px;
    padding: 3px;
    cursor: pointer;
    margin-bottom: 1px;
}

.v-calendar-weekly__day.v-present .v-calendar-weekly__day-label {
    border: none;
}

.v-calendar-weekly__day-label {
    text-decoration: none;
}

.primary--text {
    color: black !important;
    caret-color: black !important;
}
.x-col3 {
    width: auto !important;
}

.box-shadow-none {
    box-shadow: none !important;
}

.calendar-action {
    margin-top: 10px;
}

.grid-top-text {
    font-weight: bold;
    color: #053b7a;
    font-size: 16px;
}
.grid-top-cell {
    margin-top: 0;
}
.grid-text-readonly {
    border-bottom: 1px solid #febd11 !important;
    margin-left: 0;
    margin-right: 0;
}

.accent:hover {
    background-color: #053b7a !important;
    border-color: #053b7a !important;
}

.display-inline {
    display: inline !important;
}
.display-inline-block {
    display: inline-block;
    float: left;
    width: 100% !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}
.margin-bottom-75 {
    margin-bottom: 75px !important;
}

.icon-default-color {
    color: #053b7a !important;
    cursor: pointer;
}

.profile-outer {
    margin-top: 25px;
}

.environment-text {
    font-weight: bold;
    color: darkred;
    font-size: 20px;
}

.v-label {
    color: #053b7a !important;
    font-size: 14px !important;
    font-weight: 500;
}

.required label::before {
    content: "* ";
    color: red;
    font-size: 18px;
    text-decoration: none;
}
.required label {
    background-color: white;
}

.theme--light.v-select .v-select__selection--disabled {
    color: rgba(0,0,0,1);
}

.theme--light.v-input--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    color: rgba(0,0,0,.75) !important;
}

.container {
    background-color: white !important;
}

.application--wrap {
    background-color: white !important;
}

.home-page-content-scroll {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 35px;
    overflow-y: scroll;
}

.review-content-scroll {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    max-height:500px;
    overflow-y: scroll;
}

.header-background {
    padding: 0;
    background-color: white;
}

.menu-background {
    background-color: white!important;
    margin-top: 250px;
    float: left;
}

.background-white {
    background-color: white;
}

.outline {
    border-top: 1px solid #febd11 !important;
    border-bottom: 1px solid #febd11 !important;
    border-left: 1px solid #febd11 !important;
    border-right: 1px solid #febd11 !important;
}

.outline-header {
    border-top: 1px solid #febd11 !important;
    border-left: 1px solid #febd11 !important;
    border-right: 1px solid #febd11 !important;
}

.border-bottom{
    border-bottom: 1px solid #febd11 !important;
}

.data-header {
    background: #6aaaff;
    font-weight: bold;
}

.v-menu__activator--disabled {
    cursor: default !important;
}

.btn-action-blue {
    background: #053b7a !important;
    font-family: "Poppins",sans-serif;
    color: white !important;
    border-radius: 6px !important;
    font-size: 12px;
    font-weight: 600;
    max-height: 30px;
}
.btn-action-blue:hover {
    color: #febd11 !important;
}

.btn-action-blue.disabled {
    color: #febd11 !important;
    background: #053b7a !important;
    font-family: "Poppins",sans-serif;
}

.btn-action-orange {
    background: #febd11 !important;
    font-family: "Poppins",sans-serif;
    color: #053b7a !important;
    border-radius: 10px !important;
    font-size: 13px;
}
.btn-action-orange.disabled {
    background: #febd11 !important;
    font-family: "Poppins",sans-serif;
    color: #053b7a !important;
    border-radius: 10px !important;
    font-size: 13px;
}
.btn-action-orange:hover {
    color: #053b7a !important;
}

.btn-action-blue-large {
    background: #053b7a !important;
    font-family: "Poppins",sans-serif;
    color: white !important;
    border-radius: 6px !important;
    font-size: 13px;
    font-weight: 600;
}
.btn-action-blue-large:hover {
    color: #febd11 !important;
}

.btn-scoring-blue-large {
    background: #2196f3 !important;
    font-family: "Poppins",sans-serif;
    color: white !important;
    border-radius: 6px !important;
    font-size: 13px;
    font-weight: 600;
    margin-top: -10px;
    margin-left: 15px; 
}
.btn-scoring-blue-large:hover {
    color: #ffd461 !important;
}

.v-btn--disabled .v-btn__content, .v-btn--disabled span {
    font-family: "Poppins",sans-serif;
    color: #aaaaaa !important;
    border-radius: 10px !important;
    font-size: 13px;
}

.no-m-b .form-group {
    margin: 15px 25px 0 10px;
}

.v-toolbar__items {
    margin-left: 0 !important;
    margin-right: auto !important;
}

/* -------------------------------- */
/* V-LIST START
/* -------------------------------- */
.v-list-item {
    font-size: 16px;
}
.theme--light.v-chip:not(.v-chip--active) {
    background: #1976d2;
    color: white;
}
.v-list-item--active .v-list-item__title {
    color: #4d4d4d !important;
}
.v-list-item--link:hover .v-list-item__title {
    color: black !important;
}
.v-list-tile-content-custom:hover {
    background-color: #1976d2 !important;
    color: white;
}
.v-list-item__title {
    min-width: 200px;
    margin-left: 0;
    font-size: 16px !important;
    color: #4d4d4d !important;
}
.v-list-tile-title:hover {
    background-color: #1976d2;
    color: black !important;
}
.v-list-item--link:hover:not(.v-list-item--disabled) {
    background-color: #febd11 !important;
    color: black !important;
}
.v-list-item:hover:not(.v-list-item--disabled) {
    background-color: #febd11 !important;
    color: black !important;
}
.v-list-item--active {
    color: black !important;
}
.v-list-item--disabled .v-list-item__title {
    /* color: #949494 !important; */
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
} 

/* -------------------------------- */
/* V-LIST END 
/* -------------------------------- */

.button-menu:hover {
    background-color: #009efb !important;
    cursor: pointer !important;
    color: white !important;
    text-decoration: none;
}

.v-date-picker-table{
    height: 100% !important;
}

.profile-menu {
    background: white !important;
    cursor: default !important;
}
.profile-menu:hover {
    background: white !important;
    cursor: default !important;
}

.spinner-veil {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.info-title {
    font-weight: bold !important;
    color: #000000 !important;
}
.info-text {
    font-weight: normal !important;
    color: #333333 !important;
}

.review-header-text {
    font-weight: bold !important;
    color: #000000 !important;
}

.v-icon.fa-circle {
    font-size: 18px !important;
}

.review-header-title {
    margin-top: -7px;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
    color: rgb(7, 57, 129);
}

.v-input--selection-controls.v-input .v-label {
    margin-left: -5px !important;
    margin-top: 2px !important;
}

td {
    height: 35px !important;
    padding-top: 3px !important;
}

.v-text-field__details {
    display: none;
}
.v-input__icon--clear {
    z-index: 0 !important;
}

.v-chip {
    height: 25px !important;
}

.v-input--radio-group--row .v-input--radio-group__input {
    float: right !important;
    margin-right: 10px !important;
}

.max-width-100 {
    max-width: 100px !important;
}

.read-only {
    color: rgba(0,0,0,.50) !important;
    background-image: none !important;
    font-size: 16px !important;
    background-color: #f5f5f5 !important;
}

.form-control:disabled {
    pointer-events: none !important;
    color: rgba(0,0,0,.50) !important;
    cursor: not-allowed !important;
    background-image: none !important;
    border: 1px solid rgba(0,0,0,.50) !important;
    border-width: 1px !important;
    font-size: 16px !important;
    background-color: #f5f5f5 !important;
}

.form-control:read-only {
    color: rgba(0,0,0,.50) !important;
    background-image: none !important;
    border: 1px solid rgba(0,0,0,.50) !important;
    border-width: 1px !important;
    font-size: 16px !important;
    background-color: #f5f5f5 !important;
}

.v-input--is-disabled.v-text-field--outline > .v-input__control > .v-input__slot {
    pointer-events: none !important;
    color: rgba(0,0,0,.50) !important;
    cursor: not-allowed !important;
    background-image: none !important;
    border: 1px solid rgba(0,0,0,.50) !important;
    border-width: 2px !important;
    font-size: 16px !important;
}
.v-radio-green .v-label {
    color: green !important;
    font-weight: 500 !important;
}
.v-radio-blue .v-label {
    color: #3385ff !important;
    font-weight: 500 !important;
}
.v-radio-red .v-label {
    color: red !important;
    font-weight: 500 !important;
}
.v-radio-grey .v-label {
    color: lightslategrey !important;
    font-weight: 500 !important;
}

.v-expansion-panel-content .v-card {
    margin-top: 6px !important;
}

.v-card-menu-list {
    height: 700px !important;
    opacity: 1;
}

.v-list__tile v-list__tile--link theme--light{
    height: 16px;
}

.x-col1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    width: 30em;
}

.x-col1 ul {
    margin: 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid; /* Theoretically FF 20+ */
    break-inside: avoid-column; /* IE 11 */
    display: inline-block; /* Actually FF 20+ */
    list-style-type: none;
}

.x-col2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    width: 30em;
}

.x-col2 ul {
    margin: 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid; /* Theoretically FF 20+ */
    break-inside: avoid-column; /* IE 11 */
    display: inline-block; /* Actually FF 20+ */
    list-style-type: none;
}

.x-col3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    width: 30em;
}

.x-col3 ul {
    margin: 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid; /* Theoretically FF 20+ */
    break-inside: avoid-column; /* IE 11 */
    display: inline-block; /* Actually FF 20+ */
    list-style-type: none;
}

.v-footer {
    background-color: #1976d2 !important;
}

.theme--light.v-card.v-card--outlined {
    border: none !important;
}

.theme--light.v-sheet--outlined {
    border: none !important;
}

.row{
   margin-left: 0 !important;
   margin-right: 0 !important;
}

/* ****************************** */
/* editable inputs */
/* ****************************** */
.v-input__append-outer {
    background-color: transparent !important;
    color: #5C5C5C !important;
}
.v-input:not(.v-input--is-readonly) {
    background-color:  transparent !important;
    color: #5C5C5C !important;
}
input:not([readonly="readonly"]){
    background-color: transparent !important;
    color: #5C5C5C !important;
    border-radius: 4px !important;
}
.v-input fieldset {
    border-width: 1px !important;
    border-radius: 4px !important;
    padding: 8px !important;
    font-size: 16px !important;
    padding: 6px 12px;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #5C5C5C !important;
}


/* ****************************** */
/* read only inputs */
/* ****************************** */
.v-input--is-readonly {
    background-color: #f0f0f0;
    color: #5C5C5C !important;
}
input[readonly="readonly"]{
    color: #5C5C5C !important;
}
.v-input--is-readonly fieldset {
    border: 1px solid #a3a3a3 !important;    
    border-width: 1px !important;
    border-radius: 4px !important;
    padding: 8px !important;
    /* min-height: 38px; */
    font-size: 16px !important;
    padding: 6px 12px;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #5C5C5C !important;
}

/* ****************************** */
/* disbled inputs */
/* ****************************** */
.v-input--is-disabled {
    background-color: #f0f0f0;
    color: #5C5C5C !important;
}
input[disabled="disabled"]{
    color: #5C5C5C !important;
}

.v-input--is-disabled fieldset {
    border: 1px solid #a3a3a3 !important;    
    border-width: 1px !important;
    border-radius: 4px !important;
    padding: 8px !important;
    /* min-height: 38px; */
    font-size: 16px !important;
    padding: 6px 12px;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #5C5C5C !important;
}

.swal2-container {
    z-index: X;
}

.swal2-shown {
    padding: 0 !important;
}

.fa:hover {
    color: #fb8c00 !important;
}
.fas:hover {
    color: #fb8c00 !important;
}

.fa-pencil-alt {
    color: #fb8c00 !important;
}
.fa-edit {
    color: #fb8c00 !important;
}
.mdi-pencil {
    color: #fb8c00 !important;
}

tr:hover{
    background-color: transparent !important;
}

.form-heading {
    border-radius: 0 !important;
    background-color: #053b7a !important;
    text-align: left;
    width: 50%;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.formHeading-label {
    color: white;
    display: contents;
    margin-left: 20px !important;
}

.v-text-field.v-text-field .v-input__control{
    min-height: 10px !important;
}

select::-ms-expand {
    display: none;
}
 
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    appearance: none;
}

select:disabled{
    opacity: 1;
    color: black;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    appearance: none;
    background: transparent no-repeat; 
}

.pco-grid-line-height .v-data-footer__select {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .v-text-field--box .v-input__slot, .v-text-field--outline .v-input__slot {
        max-width: 125px !important;
    }
    body {
        padding-top: 0;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .v-text-field--box .v-input__slot,
    .v-text-field--outline .v-input__slot {
        max-width: 150px !important;
    }
}
/*Medium devices landscape (tablets, 768px and up)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .v-text-field--box .v-input__slot,
    .v-text-field--outline .v-input__slot {
        max-width: 175px !important;
    }
}
/*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1263px) {
    .v-text-field--box .v-input__slot,
    .v-text-field--outline .v-input__slot {
        max-width: 200px !important;
    }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1264px) {
    .v-text-field--box .v-input__slot,
    .v-text-field--outline .v-input__slot {
        max-width: 225px !important;
    }
}

.dataEntryMenuClass
{
    width:100%;
    z-index:0;
    column-count:2;
    column-gap:0px;
    column-fill:balance;
}
.dataEntryMainPanel {
    margin-bottom:40px !important;
}


.dataEntryMenuClass .a {
    padding: 2px;
}
.v-list-tile-bat-menu .a
{
    height:24px;
}
.v-list {
    padding: 0 !important;
}

.category-header {
    background-color: #053b7a;
    font-weight: bold !important;
    color: white !important;
}
.subcategory-header, .regulatory-header, .internal-header {
    background-color: #386FAD;
    font-weight: bold !important;
    color: white !important;
}
.v-icon.fa-chevron-down.theme--light {
    color: white !important;
}
.v-icon.notranslate.v-data-table__expand-icon.v-icon--link.fas.fa-chevron-down.theme--light {
    color: #555555 !important;
}

.label {
    color: #053b7a;
    font-family: sans-serif;
    font-weight: 600;
    font-size: small;
    margin-left: 5px;
}
.data {
    font-family: sans-serif;
    color: black;
    margin-left: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.summary-header-category {
    font-weight: bold;
    color: white !important;
    background-color: #053b7a;
    font-size: 12px !important;
}
.v-btn--active {
    background-color:#C0C0C0 !important;
    width: 10px;
}

.pco-card-title {
    width: 100%;
    text-align: center !important;
    border: solid black 0px;
}

.swal2-icon.swal2-question {
	border-color: #dc3545!important;
    color: #dc3545!important;
}

.sticky-container {
    position: -webkit-sticky !important; 
    position: sticky !important;
    align-self: flex-start;
    height: auto;
    display: block;
    top: 0; 
    z-index:100; 
    background-color: white !important;
}

.v-expansion-panel--active>.v-expansion-panel-header {
    min-height: 50px !important;
}

.table-header-default {
    color: #f5f5f5!important;
    background-color: #073981!important;
    font-weight: 700!important;
}

.v-expansion-panel-content__wrap {
    padding: 0;
    flex: 1 1 auto;
    max-width: 100%;
}

.form-control {
    border: 1px solid #888888 !important;
    border-radius: 4px !important;
    padding: 8px !important;
    min-height: 38px;
    font-size: 16px !important;
    background-color: white !important;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.staffing-number {
    border: 1px solid #888888 !important; 
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-number {
    border: 1px solid #888888 !important;
    border-radius: 4px !important;
    padding: 8px !important;
    min-height: 38px;
    font-size: 16px !important;
    background-color: white !important;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#daccGrid .v-data-table__wrapper table tbody tr td {
    padding-left: 5px;
    padding-right: 0;
}

.v-tooltip__content {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12) !important;
}

.activeDateChange {
    color: red !important;
}

.dashboard-total-row {
    background-color: #e3f2fd !important;
    font-weight: bold !important;
}

.dashboard-total-row:hover td {
    background: #D3D3D3 !important;
}

.dashboard-row:hover td {
    background: #D3D3D3 !important;
}

.main-container-action-plan {
    max-height: calc(100vh);
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.data-entry-alert {
    color: red !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-audit-score .v-text-field__suffix {
    font-size: 1.5em !important;
}

.v-list-item .v-list-item__subtitle, .v-list-item .v-list-item__title {
    line-height: 1.2 !important;
}