<template>
  <v-container class="text-center">
    <h1>This application will allow you to see the following</h1><br>
    <v-row justify="center">
      <v-col cols="12" sm="6" md="4">
        <v-text-field label="Zip Code" @click:clear="onClear" prepend-inner-icon="mdi-map-marker" clearable type="number" v-model="zipCode"></v-text-field>
        <v-btn :disabled="!zipCode" @click="getLocalWeather()" block rounded="sm" size="x-large" color="primary">Get Local Weather</v-btn>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="12" sm="6" md="4">
        <v-btn @click="getGeoLocation()" block rounded="sm" size="x-large" color="primary">Get Geo Location</v-btn>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="12" sm="6" md="4">
        <v-btn :disabled="!zipCode" @click="getData()" block rounded="sm" size="x-large" color="primary">Get Data</v-btn>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="12" sm="6" md="4">
        <v-btn :disabled="!zipCode" @click="getDataParallel()" block rounded="sm" size="x-large" color="primary">Get Data Parallel</v-btn>
      </v-col>
    </v-row>

    <v-row justify="center" v-if="localWeatherData">
      <v-col cols="12" sm="6" md="4">
        <v-card class="mx-auto"
                max-width="600"
                variant="outlined">
          <v-card-item>
            <div>
              <div class="text-overline mb-1">
                Local Weather today
              </div>
              <div class="text-h6 mb-1">
                {{localWeatherData.description}}
              </div>
              <div class="text-caption">Latitude: {{ localWeatherData.latitude }}</div>
              <div class="text-caption">Longitude: {{ localWeatherData.longitude }}</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
    </v-row>

    <v-row justify="center" v-if="geoLocationData">
      <v-col cols="12" sm="6" md="4">
        <v-card class="mx-auto"
                max-width="600"
                variant="outlined">
          <v-card-item>
            <div>
              <div class="text-overline mb-1">
                Geo Location
              </div>
              <div class="text-h6 mb-1">
                {{geoLocationData.description}}
              </div>
              <div class="text-caption">Country: {{ geoLocationData.location.country }}</div>
              <div class="text-caption">Region: {{ geoLocationData.location.region }}</div>
              <div class="text-caption">IP: {{ geoLocationData.ip }}</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
    </v-row>

  </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  text-align: center;
  margin: 10px 10px;
}
a {
  color: #42b983;
}
</style>

<script src="./home.ts"></script>
