﻿<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden;">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Test Application</title>
    <link crossorigin="anonymous" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link crossorigin="anonymous" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link crossorigin="anonymous" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <link crossorigin="anonymous" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />

    <style>
        .flashit {
            font-size: 25px;
            font-weight: bold;
            font-family: Poppins, sans-serif;
            color: rgb(5, 59, 122);
            text-align: center;
            -webkit-animation: flash linear 1.5s infinite;
            animation: flash linear 1.5s infinite;
            user-select: none;
        }
        @-webkit-keyframes flash {
            0% {
                opacity: 1;
            }
            50% {
                opacity: .3;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes flash {
            0% {
                opacity: 1;
            }
            50% {
                opacity: .3;
            }
            100% {
                opacity: 1;
            }
        }
        .app-root {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 28px;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <noscript>
        <strong>We're sorry but client-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app-root" class="app-root">
        <span class="flashit">
            Loading Test Application...
        </span>
    </div>
    <!-- built files will be auto injected -->
</body>
</html>
